@font-face {
    font-family: 'Popins';
    font-weight: 100;
    font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
}
body {
font-family: 'Roboto', sans-serif;
background-color:#FBA4A6;

}
button{
    font-family: 'Roboto', sans-serif;
    color:white
}
.primary-nav {
    display:flex;
    list-style-type:none;
    padding:10px;
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 120px;

    justify-content:flex-end;
}
.left {
    margin-right:auto;
}
.primary-nav >li{
    padding-right: 70px;
}
a{
    color:white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-family:'Roboto';
}
.flex-container-1{
    display: flex;
    justify-content: space-around;
    justify-self:center;  
    margin-block-end: 20px;
    
}
.flex-container-1 > div{
    display: flex;
    align-items: center;
}
.temps{
    display: flex;
    text-align: center;
    justify-content:center;
}
.main{
    padding:10px;
    margin:10px;
}
.main-temp{
    display: flex;
}
p{
    margin-block-start: 5px;
    margin-block-end: 5px;
    color: rgb(85, 85, 85);
}
.main-coffee{
    font-size: 100px;
    font-weight: 550;
    color: white;
}
.desc-coffee{
    font-size: 23px;
    font-weight: 250;
    color: white;

}
.img-coffee{
    padding-top: 60px;
    padding-bottom: 60px;
}
.only-btn{
    padding-top: 30px;
}
.btn{
    background-color: #BE5569;
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Roboto';
    cursor: pointer;
    border-radius: 8px;

}


@media screen and (max-width:768px) {
    .flex-container-1 > div{
        display: flex;
        width: 100%;   
        align-items: center;
    }  

    .primary-nav {
        display:flex;
        list-style-type:none;
        padding:10px;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 20px;

        justify-content:flex-end;
    }
    .left {
        margin-right:auto;
    }
    .primary-nav >li{
        padding-right: 35px;
    }

    .main-coffee{
        font-size: 50px;
        font-weight: 550;
    }
    .desc-coffee{
        font-size: 12px;
        font-weight: 250;
    
    }
    .desc{
        padding-bottom: 20px;
    }
    .img-coffee{
        padding-top: 0px;
        padding-bottom: 0px;
        width: 300px;
        height: 300px;
    }
    .btn{
        
        padding: 10px 18px;
       
        font-size: 10px;
        margin: 2px 1px;
        
        border-radius: 8px;
    
    }
}

@media screen and (max-width:576px) {
    .flex-container-1{
        display: flex;
        justify-content: center;
        justify-self:center;  
        flex-direction: column-reverse;
        margin-block-end: 20px;
        
    }
    .flex-container-1 > div{
        display: flex;
        width: 100%;   
        align-items: center;
    }
    .img-coffee{
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
        height: 100%;
    }
    .desc-coffee{
        font-size: 21px;
        font-weight: 350;
    }
}
