.header{
    background-color: #28A745;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.25rem;
    padding:0 20%;
}

h1{
    color: azure;
    font-size: 2.5rem;
}