@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wgh t@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Lato", sans-serif;
}

html{
    font-size: 16px;
}
