* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 250, 255);
    padding-bottom: 20px;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #65676b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 8%;
    margin: 20px 0 0 0;
    background-color: #dfe1e6;
    width: 60%;
    text-align: center;

    border-bottom: #4caf50 1px solid;
}
#messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90vh;
    overflow-y: auto;
    width: 60%;
    margin: 0;
    padding: 20px 10px;
    background-color: #dfe1e6;
    .message-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 15px;
        font-size: 20px;
        background-color: #65676b;
        border-radius: 10px;
    }
    .message-you {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 15px;
        font-size: 20px;
        background-color: #4caf50;
        border-radius: 10px;
    }
}
.message-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    background-color: #dfe1e6;
    font-size: 30px;
    font-weight: bolder;
}
.message-body {
    width: 95%;
    padding: 0px;
    margin-left: 20px;
    color: white;
    font-weight: 600;
}
.message-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    padding: 15px 60px 15px 30px;
    font-size: 20px;
    &::placeholder {
        font-size: 20px;
    }
}
#sendBtn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf50;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 25px;
    right: 20.3%;
    overflow: hidden;
}
