.product-list-page {
  background-color: #f3f3f3;
  height: 1000vh;
}
a {
  text-decoration: none;
  color: #000;
}
.heading {
  margin-top: 5vh;
  text-align: center;
  font-weight: bold;
  font-size: 41px;
  margin-bottom: 5vh;
  span {
    color: #2a2a72;
  }
}

.product-info {
  justify-content: space-between;
}
.product-card {
  width: 350px;
  height: 230px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 10px;
}
.product-image-div {
  height: 180px;
  width: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

.product-name {
  font-size: 12px;
}
.product-price {
  font-size: 10px;
}

.products-list {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
  flex-basis: 50%;
}
