.add{
    margin-left: 5px;
    background-color: black;
    color:white;
    font-size: 10px;
    padding: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 3px;
}
.add-input{
    max-width: 120px;
    border:1px solid rgb(83, 81, 81);
    margin-bottom: 20px;

}