<!--<configuration>-->
<!--    <appender name="FILE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <file>/home/hp/myLogfile.log</file>-->
<!--        <append>true</append>-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} &ndash;&gt; %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="debug">-->
<!--        <appender-ref ref="FILE" />-->
<!--    </root>-->
<!--</configuration>-->

<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
<!--        <file>/home/hp/myLogfile.log</file>-->
        <file>./logging/src/main/resources/myLogfile.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} --> %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>
