.app-container {
    font-family: 'Lato' , sans-serif;
    margin:auto;

    .todo-container {
        margin-top: 2rem;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid rgba(0,0,0,0.1);
        padding: 1.5rem;
    }

    .todo-container .add-item-container{
        margin-bottom: 2rem;
    }
}